/* You can add global styles to this file, and also import other style files */
.bg-light
{
    background: #000;
}

.btn
{
    border:none;
    background: #2cbcd0; 
    font-weight: bold;
    color:#fff;
}

.btn-link, .btn-clear
{
    background: none;
}

.header-txt {
    font-size:70px;
    color:rgba(65,201,220,1);
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom:2px solid #2cbcd0;
}

.text-blue{
    color: rgba(65,201,220,1);
}

*{
    font-family: 'Open Sans Condensed', sans-serif !important;
}

.p-0
{
    padding:0 !important;
}

.btn:hover{
    background:purple;
    color:#fff;
}