<div class="new-products">
    <div class="container text-center ">
        <div class="popularProducts border" #popularProducts>
            <h1 class="new-products-text py-4 text-white">Newest Products</h1>
            <div class="row no-gutters py-1 text-center">
                <div *ngFor="let i of arr" class="col-md-3 col-sm-6">
                    <div class="product">
                        <img src="../../assets/img/{{images[i]}}" class="card-img-top" alt="...">
                    
                        <div class="product-details text-center">
                            <p class="product-name">Exotic Blue Hair Bundle...</p>
                            
                            <h5 class="card-subtitle text-center product-price">$75.00</h5>
                            <button routerLink="/product/{{i}}" type="button" class="my-3 product-btn btn">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="text-center  upcase-btn my-5 btn">View All (1000)</button>
    </div>
</div>
<div class="container border services text-center container-bg">
    <div class="row">
        <div class="col p-0 col-12">
            <h1 class="new-products-text text-blue my-5">Services</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let i of arr" class="col p-1 my-3 col-md-3 col-sm-12">
            <div class="product">
                <img src="../../assets/logo.jpg" class="card-img-top border" alt="...">
                <div class="card-body">
                    <h5 class="card-title name">Box Braids</h5>
                    <button href="#" type="button" class="my-3 btn btn-link w-100 btn-primary ">Details</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>